html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
    background-color: #20A2BB;
    background-size:cover;
    background-repeat:no-repeat;
}
.flexcontainer {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-align-items: flex-start;
   align-items: flex-start;
}
body {
    color: white;
    font-family: "Verdana",Verdana, sans-serif;
}

b {
    color: white;
    font-family: "Verdana",Verdana, sans-serif;
}
center {
	color: white;
	font-family: "Verdana",Verdana, sans-serif;
}

p {
    font-family: "Verdana",Verdana, sans-serif;
}

h1 {
    font-size: 2.0em; /* 30px/16=2.5em */
}

h2 {
    font-size: 20px;
}